* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*styling container*/
#container {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  flex-direction: column;
  height: 100vh;
  background-color: black;
}
/*styling the reciever info*/
#reciever-info {
  height: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: rgb(24, 23, 23);
  gap: 20px;
}

#reciever-pfp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#reciever-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
#messagesWrapper {
  display: flex;
  flex: 1;
}
#messages {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  margin: 5px;
}
/*stylin messaging actions*/
#messaging-action {
  display: flex;
  padding: 20px;
  gap: 10px;
  flex-shrink: 1;
  background-color: rgb(24, 23, 23);
}
#getMessage {
  padding: 10px;
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 10px;
  height: 40px;
  width: 80%;
}
#send {
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}
#send:hover {
  border: 2px solid rgb(64, 64, 236);
}
/*styling dom generated element*/
.messageContainer {
  display: flex;
  align-self: flex-start;
  padding: 10px;
  background-color: rgb(62, 68, 71);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  border-radius: 10px;
}
